/*================ Design mode ================*/
html.iframe .timeline__row__editor {
  --row-count: 0;
  --row-height-min: 0px;
  --row-height: var(--row-height-min);
  --row-top-mobile: 0px;

  position: absolute;
  left: 0;
  top: var(--row-top-mobile);
  z-index: -1;
  width: 100%;
  height: var(--row-height);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

html.iframe .shopify-section.hidden {
  display: block;
  visibility: visible;
}

@media screen and (min-width: 750px) {
  html.iframe .has-header-sticky { --header-offset: calc(var(--header-height) * -1); }
  html.iframe .has-header-sticky .section-sidebar__row--title { margin-top: var(--header-offset); }
  html.iframe .has-header-sticky .section-sidebar__title { position: relative; }
  html.iframe .has-header-sticky .section-sidebar__title:before {
    content: '';
    display: block;
    position: relative;
    height: var(--header-height);
    pointer-events: none;
  }

  html.iframe .timeline__row__editor {
    --row-height: max(var(--row-height-min), var(--height));
    top: calc(var(--row-count) * var(--row-height) + 1px);
  }
}
