@font-face {
  font-family: Cardo;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//notperfectlinen.com/cdn/fonts/cardo/cardo_n4.eebb245e383be6550785a657b25f51c2b83d7e78.woff2?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=7c91f6d9ed590daba02921db163c53da1a1688e1c2421dc2dd733c20ffda041b") format("woff2"),
       url("//notperfectlinen.com/cdn/fonts/cardo/cardo_n4.5873ec3470fadfb2463a972a55c13c82fcea3051.woff?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=d7ae2349c3fa289e18977b146742a138bb592ff948ecea676c01e877c8b3782d") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=1de9bf1d7c25fe2f4a1e842b32ce92cfc52ba5d939f4c35d2dcc57925f47706a") format("woff2"),
       url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=a873e654836f4e177717be7917f760a0531e94d05219cda263002f1cd7a63c1a") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=1de9bf1d7c25fe2f4a1e842b32ce92cfc52ba5d939f4c35d2dcc57925f47706a") format("woff2"),
       url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=a873e654836f4e177717be7917f760a0531e94d05219cda263002f1cd7a63c1a") format("woff");
}



  @font-face {
  font-family: Cardo;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("//notperfectlinen.com/cdn/fonts/cardo/cardo_n7.d02b7fb13fc5aac90b5334d99f92017ede2099f6.woff2?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=d30671d0c4058fbd3cd388520a140f0b046d382b50fe42cceb758c18c4206350") format("woff2"),
       url("//notperfectlinen.com/cdn/fonts/cardo/cardo_n7.2bbbb0d9819b97cd025c56641e4eb6435f1c07d0.woff?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=407802976af7997257409edb662166e0bbfec084c58f831ac460cc4965129d27") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=f955a610271ea38aee2cc23bd1c1b6409012cae05b9f986019fecc7fa5116498") format("woff2"),
       url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=f05bcf8702e6961bff4b00722cee187bc02d9d23da1d5c708516d2d7bbf26334") format("woff");
}







  @font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_i4.f1583d9f457b68e44fbda187a48b4096d547d7f4.woff2?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=434c00ccfc4d7940714d24e334f26c967c1a76182a79d0cef4dd10a16a80cfdf") format("woff2"),
       url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_i4.67fb53a3e0351125941146246183577ae8d8bf23.woff?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=efc552fcfff0ea4cadd0a16258aa33d504d5b880e52068fc4fd3c63bd4d8f4ca") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_i5.2d1a6d537e5b485482d6bcca34a56cc10d441a55.woff2?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=acbb3df4b3783feaee82270101e71ec7ac22b77fd4403db00f1404c3330b1aff") format("woff2"),
       url("//notperfectlinen.com/cdn/fonts/avenir_next/avenirnext_i5.fcfa37c68ca483c41031623bfae4701d99bb4b95.woff?h1=bm90cGVyZmVjdGxpbmVuMS5hY2NvdW50Lm15c2hvcGlmeS5jb20&h2=bm90cGVyZmVjdGxpbmVuLmV1&h3=bm90cGVyZmVjdGxpbmVuLmNvbQ&h4=bm90cGVyZmVjdGxpbmVuLmNh&h5=bm90cGVyZmVjdGxpbmVuLmRl&hmac=6edc43916b7427328f5b6a9da7580f369af9e2b8843819f7ef295ef47e6ed183") format("woff");
}

